body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  background-color: black;
  font-family: "helvetica45", Helvetica, sans-serif;
}

html, body {
  height: 100%;
}

.slide {
  width: 100%;
  height: calc(100vh - 80px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  cursor: pointer;
  margin: 0 10px;
  color: white;
}

.arrow:hover {
  color: #FF9800;
}

.source {
  padding: 6px 12px 4px;
  font-size: 14px;
  color: #aaa;
}

.dots {
  padding: 0;
  margin: 5px 0;
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.dot {
  cursor: pointer;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  transition: background-color 0.6s ease;
}

.dot.active, .dot:hover {
  background-color: #FF9800;
}

/* mobiles */
@media only screen and (max-width: 900px) and (max-height: 900px) {
  .slide {
    height: calc(100vh - 28px);
  }

  .dots {
    display: none;
  }
}

/* mobiles, portrait */
@media only screen and (max-width: 460px) and (orientation: portrait) {
  .slide {
    background-position-x: -150px;
    height: calc(100vh - 46px);
  }
}
